.map_container {
  width: 70%;
  height: 300px;
  z-index: 1;
}

@media (max-width: 1023px) {
  .map_container {
    width: 82%;
  }
}

@media (max-width: 767px) {
  .map_container {
    width: 100%;
  }
}
