$side_padding_desktop: 0 64px;
$side_padding_tablet: 0 32px;
$side-padding_mobile: 0 16px;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-left: 64px;
  background-color: var(--white);
}

.header_wrapper {
  padding: $side_padding_desktop;
}

.order_id_block {
  width: 100%;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.order_id {
  padding: $side_padding_desktop;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

.info_block {
  padding: $side_padding_desktop;
  display: flex;
  height: 100%;
}

.text_info_wrapper {
  width: 100%;
}

.checkout_block {
  height: 100%;
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
  }
}
