$side_padding_desktop: 0 64px;
$side_padding_tablet: 0 32px;
$side-padding_mobile: 0 16px;
$border: 1px solid var(--light-gray);

.breadcrumbs_wrapper {
  display: flex;
  padding: $side_padding_desktop;
  border: $border;
}

.breadcrumbs_container {
  margin: 0;
}

.button_link {
  background-color: unset;
  margin: 8px 16px 7px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  &:disabled {
    color: var(--light-gray);
  }
}

.arrow_icon {
  margin: 8px 16px 8px 0px;
}

@media (min-width: 2042px) {
  .breadcrumbs_wrapper {
    width: 93.5%;
    display: flex;
    justify-content: center;
  }
  .breadcrumbs_container {
    width: 1280px;
  }
}

@media (max-width: 1439px) {
  .breadcrumbs_wrapper {
    padding: $side_padding_tablet;
  }
}

@media (max-width: 768px) {
  .breadcrumbs_wrapper {
    padding: $side-padding_mobile;
    flex-direction: column;
  }
}
