$side_padding_desktop: 0 64px;

.order_container {
  min-height: 100vh;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: $side_padding_desktop;
  padding-bottom: 32px;
}

.main_container {
  padding: $side_padding_desktop;
  padding-top: 32px;
}
