@mixin input_font_type {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

.wrapper {
  display: flex;
  margin-bottom: 13px;
}

.input_container {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  width: 224px;
  align-items: center;
}

.input_bar {
  @include input_font_type;
  border: none;
  width: 100%;
  padding-left: 8px;
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: var(--gray);
  }
}

.input_name {
  @include input_font_type;
  margin: 0;
  margin-right: 8px;
}

.reset_button {
  background: unset;
  padding-right: 8px;
}

.dropdown {
  @include input_font_type;
  color: var(--gray);
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: 1px solid var(--light-gray);
  overflow-y: scroll;
  position: absolute;
  z-index: 500;
  background: white;
  li {
    padding-left: 8px;
    cursor: default;
    width: 100%;
  }
  li:hover {
    color: var(--main-accent);
  }
}

@media (max-width: 767px) {
  .input_name {
    width: 100%;
  }

  .input_container {
    width: auto;
  }

  .input_bar {
    width: auto;
  }

  .dropdown {
    overflow-y: unset;
  }
}
