$top_margin: 32px;

@mixin default_font {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  margin: 0;
}

.form_wrapper {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--light-gray);
}

.container {
  padding-left: 32px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.order_info_item {
  display: flex;
  text-align: right;
  margin-bottom: 16px;
  justify-content: space-between;
}

.item_title {
  text-align: left;
  @include default_font;
  align-self: flex-end;
}

.item_text {
  @include default_font;
  text-align: right;
  color: var(--gray);
}

.dots {
  border-bottom: 2px dotted var(--gray);
  width: 100%;
  flex-shrink: 2;
  margin-left: 12px;
}

.summary_block {
  display: flex;
  @include default_font;
  font-weight: 500;
  margin-top: $top_margin;
  font-size: 16px;
  gap: 5px;
}

.summary_title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.summary_price {
  margin: 0;
}

.checkout_button {
  &:disabled {
    background: var(--light-gray);
    cursor: default;
    &:hover {
      background: var(--light-gray);
    }
  }
  color: var(--white);
  padding: 16px 55px 12px 55px;
  margin-top: $top_margin;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: var(--button-default);
  background-blend-mode: darken;
  border-radius: 8px;
  width: 100%;
  &:hover {
    background: var(--button-hover);
  }
  &:active {
    background: var(--button-clicked);
  }
  &:focus-visible {
    background: var(--button-hover);
  }
}

@media (max-width: 1023px) {
  .form_wrapper {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .form_wrapper {
    width: 100%;
    border: none;
  }

  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .checkout_button {
    margin-bottom: 25px;
    width: 100%;
  }
}
