@mixin default_font {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  margin: 0;
}

.order_info_item {
  display: flex;
  text-align: right;
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
}

.item_title {
  text-align: left;
  @include default_font;
  align-self: flex-end;
  min-width: max-content;
  margin-right: 5px;
}

.item_text {
  @include default_font;
  text-align: right;
  color: var(--gray);
  margin-left: 5px;
}

.dots {
  border-bottom: 2px dotted var(--gray);
  width: 100%;
  margin-bottom: 3px;
}
