.left_arrow {
  display: flex;
  position: absolute;
  left: 0;
  padding: 0 28px;
  cursor: pointer;
  transition: transform ease-in 0.1s;
  height: 100%;
  z-index: 100;
}

.right_arrow {
  display: flex;
  position: absolute;
  cursor: pointer;
  transition: transform ease-in 0.1s;
  right: 0;
  height: 100%;
  z-index: 100;
  padding: 0 28px;
}

.left_arrow:hover {
  background-color: var(--main-accent);
  opacity: 0.2;
}

.right_arrow:hover {
  background-color: var(--main-accent);
  opacity: 0.2;
}

.nav_button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}
