@mixin radio_button_title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.radio_button_container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.radio_icon_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.radio_icon {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.radio_button_label {
  @include radio_button_title;
  color: var(--black);
  margin: 0;
}

.radio_button_inactive {
  color: var(--gray);
}
