.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.description_block {
  margin-left: 96px;
  margin-right: 97px;
  color: var(--white);
}

.header {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.description {
  font-weight: 300;
  font-size: 24px;
  line-height: 90%;
  color: var(--gray);
}

.more_info {
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding: 16px 74px;
  border: none;
  cursor: pointer;
}

.more_info:active {
  opacity: 0.9;
}
