:root {
  --button-text-color-primary: #ffffff;
  --main-accent: #0ec261;
  --black: #121212;
  --gray: #999999;
  --white: #ffffff;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
