.carsharing {
  min-height: 100vh;
  background-color: var(--white);
  width: 100%;
  display: flex;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  padding-right: 64px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: var(--main-accent);
  margin: 0;
  margin-top: 32px;
}

.location_block {
  display: flex;
  margin-top: 42px;
}

.location {
  margin: 0;
  padding-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
  padding-left: 7px;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.main_header {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: var(--black);
  margin: 0;
}

.main_tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: var(--main-accent);
  margin: 0px;
}

.main_company_info {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 0;
}

.main_book__button {
  margin-top: 60px;
  color: var(--white);
  padding: 16px 55px 12px 55px;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: var(--button-default);
  background-blend-mode: darken;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main_book__button:hover {
  background: var(--button-hover);
}

.main_book__button:active {
  background: var(--button-clicked);
}

.main_book__button__clicked {
  background: var(--button-default);
}

.main_book__button:focus-visible {
  background: var(--button-hover);
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--gray);
}

.company_number {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--black);
}

@media (max-width: 1439px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 16px;
  }

  .header_tagline {
    margin-top: 16px;
  }

  .location_block {
    display: flex;
    margin-top: 10px;
  }

  .main_text_content {
    padding: 0 16px;
  }

  .main_header {
    font-size: 32px;
    line-height: 32px;
  }

  .main_tagline {
    font-size: 32px;
    line-height: 32px;
  }

  .main_company_info {
    font-size: 18px;
    line-height: 21px;
  }

  .main_book__button {
    margin-top: 32px;
    width: 100%;
    border-radius: 0;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    background: var(--black);
    padding: 16px;
  }

  .company_number {
    color: var(--main-accent);
    margin: 0;
  }

  .copyright {
    color: var(--white);
  }
}
