.carsharing {
  min-height: 100vh;
  background-color: var(--white);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  padding-right: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.main_header {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: var(--black);
  margin: 0;
}

.main_tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: var(--main-accent);
  margin: 0px;
}

.main_company__info {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 0;
}

.main_book__button {
  margin-top: 60px;
  color: var(--white);
  padding: 15px 55px 11px 55px;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: var(--button-default);
  background-blend-mode: darken;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main_book__button:hover {
  background: var(--button-hover);
}

.main_book__button:active {
  background: var(--button-clicked);
}

.main_book__button_clicked {
  background: var(--button-default);
}

.main_book__button:focus {
  background: var(--button-hover);
}

.header_tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: var(--main-accent);
  margin: 0;
  margin-top: 32px;
}

.location_block {
  display: flex;
  margin-top: 42px;
}

.location {
  margin: 0;
  padding-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
