$fullHeight: 100vh;
$fullWidth: 100%;
$paddingSides: 64px;

@mixin standart_font {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
}

.carsharing {
  min-height: $fullHeight;
  background-color: var(--white);
  width: $fullWidth;
  display: flex;
}

.container {
  height: $fullHeight;
  display: flex;
  flex-direction: column;
  padding: 0 $paddingSides;
  width: $fullWidth;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.main_header {
  @include standart_font;
  color: var(--black);
  margin: 0;
}

.main_tagline {
  @include standart_font;
  color: var(--main-accent);
  margin: 0px;
}

.main_company_info {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 60px;
}

.main_book__button {
  color: var(--white);
  padding: 16px 55px 12px 55px;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: var(--button-default);
  background-blend-mode: darken;
  border-radius: 8px;
  &:hover {
    background: var(--button-hover);
  }
  &:active {
    background: var(--button-clicked);
  }
  &:focus-visible {
    background: var(--button-hover);
  }
}

.link {
  text-decoration: none;
  color: var(--white);
  width: fit-content;
}

.main_book__button__clicked {
  background: var(--button-default);
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--gray);
}

.company_number {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--black);
}

@media (min-width: 2042px) {
  .carsharing {
    justify-content: center;
  }

  .container {
    width: 861px;
  }
}

@media (max-width: 1439px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .main_text_content {
    padding: 0 16px;
  }

  .main_header {
    font-size: 32px;
    line-height: 32px;
  }

  .main_tagline {
    font-size: 32px;
    line-height: 32px;
  }

  .main_company_info {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 32px;
  }

  .main_book__button {
    width: $fullWidth;
    border-radius: 0;
  }

  .link {
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    background: var(--black);
    padding: 16px;
  }

  .company_number {
    color: var(--main-accent);
    margin: 0;
  }

  .copyright {
    color: var(--white);
  }
}
